@CHARSET "UTF-8";

body {
	font-family: Arial;
	background-image: url("../img/body_background.png");
}

header {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 64px;
	background-image: url("../img/blue-and-white-texture.jpg");
}

nav {
	position: fixed;
	top: 64px;
	left: 0px;
	right: 0px;
	height: 42px;
	background-image: url("../img/menu_background.png");
}

.menu_button {
	height: 42px;
	line-height: 42px;
	text-align: center;
	width: 150px;
	float: left;
	background-image: url("../img/button.png");
}

.menu_button:hover {
	background-image: url("../img/button_mouse_hover.png");
}

.menu_button_right {
	height: 42px;
	line-height: 42px;
	text-align: center;
	width: 150px;
	float: right;
	background-image: url("../img/button_right.png");
}

.menu_button_right:hover {
	background-image: url("../img/button_mouse_hover_right.png");
}

.button_title {
	color: white;
	font-family: Arial;
}

a {
	text-decoration: none;
}

.inscription_form, .connection_form {
	background-color: white;
	margin: auto;
	border: 1px solid grey;
	padding: 10px;
	margin-top: 116px;
	text-align: center;
	width: 610px;
}

.form_title {
	margin: auto;
	font-size: 20px;
}

.page_pannel {
	margin-top: 116px;
	display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left_panel {
	width: 30%;
	height: 100%;
}

.right_panel {
	margin-left: 10px;
	height: 80%;
    flex: 1;
}

.left_panel, .right_panel {
	padding: 10px;
	border: solid black 1px;
	background-color: white;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 5px;
}
